<div class="join meeting">
    <h2>Join Demo Meeting</h2>

    <!-- The following line would also work with only @subject int the params, 
    because RoR would be able to tell that the subject isn't saved in the database, 
    so it knows that the url will be the url used to add a subject to the database, 
    and that the method for that is post. -->
    <%= form_for(Participant.new) do |f| %>

        <table summary="Subject form fields">
            <tr>
                <th>Name</th>
                <td><%= f.text_field(:name)%></td>
                <td>
                <div class="form-buttons">
                    <%= f.submit("Join Meeting")%>
                    </div>
                </td>
            </tr>         
        </table>
    <% end %>
</div>